# Python virtual environment
ai/
venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db